.vscode

# Dependencies
node_modules/

# Expo
.expo/

*/.env

*/__pycache__

.pytest_cache

database_dump_px_*.sql

.vscode

**/.coverage

node_modules

*.tar

*__pycache__*


# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/

/backend/uploads/*
!/backend/uploads/.gitkeep
