pip install opencv-python
pip install numpy
pip install tensorflow
pip install keras
pip install pytesseract
pip install joblib
pip install scikit-learn


pip install opencv-python numpy tensorflow keras pytesseract scikit-learn
