.App {
  text-align: center;
}

.App-header {
  background-color: #cab5b8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%); /* centre horizontalement */
  width: 30%;
  height: auto;
}

.rectangle {
  width: 40%;
  height: 20%;
  background: linear-gradient(to right, #EE9AD0 0%, #F57196 100%);
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  display: flex;
  align-items: center; /* centre verticalement */
  justify-content: center; /* centre horizontalement */
}
