# -------------------------------------------------------------
# Development API URL
# -------------------------------------------------------------
# <YOUR_LOCAL_WIFI_LAN_IP> : your machine's local IP on Wi-Fi/LAN network
# <PORT> : the backend external host port (SERVER_PORT_EXTERNAL)
API_URL_DEV=http://<YOUR_LOCAL_WIFI_LAN_IP>:<PORT>

API_URL=https://api.monsite.com